main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-grow: 1;
  padding: 10px 30px 20px;
  > div {
    position: relative;
    width: 47%;
    background-color: var(--color-background-500);
    border-radius: 12px;
    color: var(--color-text);
    .panel {
      display: flex;
      width: 100%;
      margin-bottom: 30px;
      .img-cntnr {
        width: 38px;
        img {
          width: 100%;
        }
      }
      > div:first-child {
        margin-right: 25px;
      }
      > div:last-child {
        flex-grow: 1;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
  .watchList {
    padding: 30px 15px;
    .panel {
      .ttl-date {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 5px;
      }
    }
  }
  .watchedList {
    .counter-cntnr {
      border-radius: 12px;
      background-color: var(--color-background-100);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px 25px;
      margin-bottom: 25px;
      .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          margin-right: 8px;
          font-size: 0.9rem;
        }
      }
    }
  }
  .list {
    .panel {
      padding: 5px 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ttl-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-grow: 1;
        .details {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 5px;
        }
      }
    }
  }

  .collapse-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    button {
      width: 26px;
      height: 26px;
      background-color: var(--color-background-900);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      .plus {
        position: relative;
        width: 100%;
        height: 100%;
        .line {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 8px;
          height: 2px;
          background-color: var(--color-text);
        }
        .cross-line {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }
}
